@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.main-container {
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  margin: auto;
  margin-top: 200px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #f3d7ca;
  transition: all 0.4s ease-in-out;
}

.finished {
  text-align: center;
  width: 100%;
  color: #5e8b6f;
  background-color: red;
}

.cell {
  border-radius: 8px;

  width: 25%;
  height: 50px;
  transition: all 0.2s ease-in-out;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #393e46;
  font-size: 30px;
  cursor: pointer;
}

.shuffle {
  text-align: "center";
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 20px;
  background: #f3d7ca;
  width: 150px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.shuffle:hover {
  cursor: pointer;
  transform: scale(1.04);
  color: rgba(0, 0, 0, 0.9);
}

.shuffle-container {
  width: 50%;
  margin: auto;
}

.shuffle-container p {
  text-align: center;
}

.main-container-enter-active {
  transform: rotateY(0deg);

  background-color: #f5eee6;
}

.main-container-enter-active-done {
  transform: rotateY(180deg);
}
@media screen and (min-width: 100px) {
  .main-container {
    width: 200px;
  }
}

@media screen and (min-width: 500px) {
  .main-container {
    width: 400px;
  }
}
